<table class="index_table">
  <thead>
  <tr>
    <th>Equipment Type</th>
    <% (1..12).each do |month| %>
      <th><%= Date::MONTHNAMES[month] %></th>
    <% end %>
  </th>
  </thead>
  <% @presenter.output.each do |type| %>
    <tr>
      <td>
        <%= link_to type[:name], admin_workspace_equipment_type_path(@workspace, type[:id]) %>
      </td>
      <% (1..12).each do |month| %>
        <td>
          <%= number_to_currency(type[:budget_per_month][month - 1]) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
<div id="index_footer">
  <div class="download_links">
    <span>Download:</span>
    <%= link_to 'CSV', budget_by_equipment_type_admin_workspace_path(@presenter.workspace, format: 'csv') %>
  </div>
</div>
