<h2>List of workspaces</h2>
<ul>
  <% @workspaces.each do |workspace| %>
    <li>
      <%= link_to workspace.name, workspace_path(workspace) %>
      <%= link_to 'Edit', edit_workspace_path(workspace) %>
    </li>
  <% end %>
</ul>
<%= link_to "New Workspace", new_workspace_path %>
